
.reveal section {
  text-align: left;
  color: #333333;
}

.reveal ul ul {
	list-style-type: circle;
}

.reveal section img {
  border: none;
  margin: 0;
}

#left {
	margin: 10px 0 15px 20px;
	text-align: left;
	float: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5; 
}

#right {
	margin: 10px 0 15px 0;
	float: right;
	text-align: left;
	z-index:-10;
	width:48%;
	font-size: 0.85em;
	line-height: 1.5; 
}
